{% extends 'base.html' %}
{% block content %}
<section class="tea_page">
  <div class="container">
    <h3>Tea List</h3>
    <form method="GET" action="{% url 'tea' %}">
      <div class="input-field col s12">
        <select name="type" onchange="this.form.submit()" class="white-text">
          <option value="" {% if not tea_type %}selected{% endif %}>All</option>
          {% for type in tea_types %}
            <option value="{{ type }}" {% if tea_type == type %}selected{% endif %}>{{ type }}</option>
          {% endfor %}
        </select>
        <label>Filter by Type</label>
      </div>
    </form>
  </div>
  <div class="container">
    <div class="row">
      {% for tea in teas %}
        <div class="col s4 m4">
          <a href="{% url 'tea_detail' tea.id %}" class="card-link">
            <div class="card tea-card" style="background-color: #B64129;">
              <div class="card-image" style="color: #DDA84F;">
                <img src="{{ tea.image_url }}" alt="{{ tea.name }}">
              </div>
              <div class="card-content">
                <span class="card-title" style="color: #DDA84F;">{{ tea.name }}</span>
                <p>{{ tea.description|truncatewords:20 }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
