{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Leaf Lit</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
  <header class="navbar-fixed">
    <nav class="nav-wrapper">
      <ul class="left">
        <li><a href="{% url 'home' %}">Leaf Lit</a></li>
      </ul>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'books' %}">Books</a></li>
        <li><a href="{% url 'tea' %}">Tea</a></li>
        <li><a href="{% url 'discussion' %}">Discussion</a></li>
        {% else %}
        <li><a href="{% url 'home' %}">Home</a></li>
        {% endif %}
      </ul>
      <ul class="right">
        {% if user.is_authenticated %}
        <li>
          <a href="#">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="submit-link waves-effect waves-light btn">Log Out</button>
            </form>
          </a>
        </li>
        {% else %}
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="footer white-text" >
    <div class="container">
      <p class="right-align">All Rights Reserved, &copy; 2024 Leaf Lit &nbsp;</p>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('select');
      M.FormSelect.init(elems);
    });
  </script>
</body>

</html>