body {
    background-color: #261D09;
    color: #F0DDAB;
}

h1, h2, h3, h4, h5, h6, p, a, li {
    color: #F0DDAB;
}

a {
    color: #DDA84F;
}

.select-dropdown.dropdown-trigger {
    color: white
}

svg.caret {
    fill: white
}

body:has(.home-page) {
    background-image: url('/static/images/icons.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}


body:has(.book_search_page) {
    background-image: url('/static/images/background_bunnies.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}




.container a:hover {
    background-color: rgba(240, 221, 171, 0.5);
}

/* .home-page {
    
    /* height: 100vh; */
    /* width: 100%;
} */ 

.nav-wrapper {
    background-color: rgba(240, 221, 171, 0.7);
}

.heading {
    font-size: 20px; 
}

footer {
    background-color: rgba(240, 221, 171, 0.7);
    position: fixed;
    bottom: 0;
    width: 100vw;
    /* z-index: -100; */
}

footer p {
    color: white;
}

.tea-card {
    max-height: 430px;
    background-color: #B64129;
    border-radius: 10px;
    border: 2px solid #F0DDAB;
    padding: 10px;
    margin-bottom: 20px;
}

.tea-card:hover {
    background-color: rgba(240, 221, 171, 0.3);
    
}

.card-content {
    min-height: 160px;
}