{% extends 'base.html' %}

{% block content %}
<div class="comment_form_page">
  <h4>{% if comment_form.instance.pk %}{% if is_delete %}Delete{% else %}Edit{% endif %}{% else %}Add{% endif %} Comment</h4>
  <div class="container">
    <div>
      <form method="post">
          {% csrf_token %}
          <div style="color: #F0DDAB">
            {{ comment_form.as_p }}
          </div>
          <button type="submit" class="waves-effect waves-light btn">{% if is_delete %}Delete{% elif comment_form.instance.pk %}Save{% else %}Add{% endif %} Comment</button>
          <a href="{% url 'thread_detail' comment.thread.pk %}"><button class="waves-effect waves-light btn">Cancel</button></a>
        </form>
    </div>
    <div class="inline_btn">
        
    </div>
  </div>
</div>
{% endblock %}
