{% extends 'base.html' %}
{% block content %}
<section class="discussion_page">
    <h1>Discussion Board</h1>

    <a href="{% url 'new_thread' %}" style="color: #DDA84F;">New Thread</a>

    <article>
        <ul>
            {% for thread in threads %}
                <li>
                    <a href="{% url 'thread_detail' thread.id %}" style="color: #DDA84F;">{{ thread.title }}</a>
                    by {{ thread.user.username }}
                    (Last updated: {{ thread.last_updated|date:"Y-m-d H:i:s" }})
                </li>
            {% endfor %}
        </ul>
    </article>
</section>
{% endblock %}
